.brandImage {  
  height: 60px;
  margin: 0 2rem;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0.2em 0.3em 0.4em -0.2em #999;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.link {  
  color: #9e9e9e;
  text-decoration: none;
  font-size: 1.2rem;  
  margin-right: 1rem;
}