.PokemonCard {
  width: 12rem;
  border-radius: 20px;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0.2em 0.4em 0.4em -0.2em #999;
}

.PokemonCardTitle {
  text-align: center;
  color: #999;
}

.PokemonCardFavorite {
  background-color: transparent;
  border: none;
  cursor: pointer;
}